@namespace UIComponent




<label class="checkbox-container">
    <input
        type="checkbox"
        class="checkbox-input"
        checked="@IsCompleted"
        @onchange="@((arg) => OnChange.InvokeAsync((bool)arg.Value!))"
    />
    <span class="checkbox-span"></span>
</label>



@code {
    
    //this is for the initial value component
    
    //why parameter
    [Parameter]
    public bool IsCompleted { get; set; }
    
    //delegate to notify the change
    [Parameter]
    public EventCallback<bool> OnChange { get; set; }
    
    
}